body {
  background-color: #ffeef2;
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 30px;
}

h1 {
  color: #e91e63;
  margin-bottom: 20px;
}

.puzzle-container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  border: 2px solid #ff69b4;
}

.piece {
  width: 100%;
  height: 100%;
  background-image: url("Img/Gamer.jpeg"); /* troque pelo nome da sua imagem */
  background-size: 300px 300px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.escondido {
  display: none;
}

#mensagem-final {
  margin-top: 20px;
  font-size: 20px;
  color: #d81b60;
  font-weight: bold;
}

#botaoMusica {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #fff;
  color: #ff4081;
  border: none;
  padding: 12px 16px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.voltar-btn {
  display: inline-block;
  margin: 20px;
  margin-top: 400px;
  padding: 12px 24px;
  background-color: #ff1493;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.voltar-btn:hover {
  background-color: #db1370;
}
